<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Só Cenouras</name>
    <description>Menu do restaurante Só de Cenouras</description>
    <author href="http://edesignerbrasil.com.br"
            email="charles_eduardo_@hotmail.com">
        Charles Eduardo
    </author>
    <icon src="icon.png" />
    
    <plugin name="cordova-plugin-splashscreen" />
    <splash src="splash.png" />
    
    <preference name="orientation" value="portrait" />
    <preference name="fullscreen" value="true" />
    
    <platfor name="android" />
</widget>